.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 340rem;
}

.header {
  font-size: 2rem;
  height: 3.5rem;
  background-color: #fff;
  border-bottom: var(--line);

  // display: flex;
  // align-content: space-between;
  // justify-content: space-between;
  // align-items: center;
}

.content {
  margin: 3.5rem;

  &__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &-header {
      font-size: 4rem;
      color: var(--color-primary-light);
    }

    &-image {
      height: auto;
      width: auto;
    }
  }

  &__search {
    display: flex;
    //   align-content: space-between;
    justify-content: space-between;
    margin: 3rem;

    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-text {
        font-size: 2rem;
      }

      &-input {
        font-family: inherit;
        font-size: 1.75rem;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: 1px solid var(--color-primary-light);
        padding: 0.7rem 2rem;
        border-radius: 100px;
        // width: 27rem;
        height: 4rem;
        outline: none;
        width: 76%;
        transition: all .2s;
      }
    }
  }
}
